<h1>Events</h1>
<h2>Meine erste rails_app, erstellt am: <span class="frame"><%= Time.now %></span></h2>
<%= "<h2>Meine erste rails_app, erstellt am: <span class='frame'> #{Time.now} </span></h2>".html_safe %>
<p>Es gibt <%= @events.size %> Events:
<table>
	<tr>
		<th>Name</th>
		<th>Ort</th>
		<th>Preis</th>
		<th>Beginn</th>
		<th>Beschreibung</th>
	</tr>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.name %></td>
				<td><%= event.location %></td>
				<td><%= format_price(event) %></td>
				<td><%= event.start_at %></td> <!-- event.start_at.present? ? event.start_at.strftime('%d. %B %Y - %T') : "kein Datum eingetragen" -->
				<td><%= truncate(event.desciption, length: 20, seperator: "") %></td>
			</tr>
		<% end %>
	</tr>
</table>
</p>